/*
!/.gitignore


*.log
*.log.*
*.exe.lnk
*.pyc
*.iml
*.tar
*.fods#
.*.py
res/server/kbengine.xml
res/server/kbengineMy.xml
1temp/
cards_test/

!/.vscode
!/lib
!/res
!/game_logic
!/1reinstall_server.cmd
!/kill_server.cmd
!/README.md
!/start_server.cmd
!/start_server_nohide.cmd
!/unzip.exe
!/wget.exe
!/reloadScript.cmd
!/reset.cmd
